.navbar {
  width: 30vw;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.pocket-title {
  position: absolute;
  left: 6vw;
  top: 58px;
  font-family: "Roboto", sans-serif;
  height: 38px;
  width: 211px;
  font-weight: 500;
  font-size: 34px;
}

.plus-button {
  background-color: #16008b;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  position: absolute;
  top: 85vh;
  left: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus-1 {
  height: 35px;
  width: 8px;
  background-color: white;
  position: absolute;
}

.plus-2 {
  height: 35px;
  width: 8px;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
}

@media screen and (max-width: 767px) {
  .navbar {
    width: 100vw;
  }
  .nav-selected {
    display: none;
  }
  .dummy-nav {
    width: 100vw;
  }

  .plus-button {
    height: 52px;
    width: 52px;
    top: 85vh;
    left: 75vw;
    z-index: 5;
  }
  .pocket-title {
    display: flex;
    justify-content: center;
    text-align: center;
    position: static;
    width: 100vw;
    font-size: 28px;
    margin-top: 40px;
  }
  .plus-1,
  .plus-2 {
    height: 25px;
    width: 6px;
  }
}
